{% extends 'admin_templates/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="row m-3 mt-4">
    <div class="col-3">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">{{ no_of_clients }}</h2>
          <p class="card-text">Total Clients</p>
          <a href="/clients/{{total_clients.mainid}}" class="btn btn-sm btn-outline-dark">View More</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">{{ no_of_projects }}</h2>
          <p class="card-text">Total Projects.</p>
          <a href="/projects/{{total_projects.mainid}}" class="btn btn-sm btn-outline-dark">View More</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">{{ total_amount }}</h2>
          <p class="card-text">Total Amount</p>
          <a href= "/projects/{{total_projects.mainid}}" class="btn btn-sm btn-outline-dark">View More</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title">{{ recent_project.name }}</h2>
          <p class="card-text">Recent Project</p>
          <a href="/view_projects/{{recent_project.mainid}}" class="btn btn-sm btn-outline-dark">View More</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}