{% extends "admin_templates/base.html" %}
{% block title %}Projects{% endblock title %}
{% block content %}
<div class="row m-3">
    <div class="col-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title">Add Projects</h4>
                <hr>
                <form action="{% url 'add_projects' %}" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Tukon International" name="name">
                        
                    </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" id="Description" rows="3"
                            placeholder="Digital Process automation" name ="description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount ( $ )</label>
                        <input type="number" class="form-control" id="amount" placeholder="100000" name = "amount">
                    </div>

                    <div class="form-group">
                        <label for="Client name">Client Name</label>
                        <select class="form-control" id="Client name" name = "client name">
                          <option>Select Client ....</option>
                          {% for client in clients %}
                          <option value="{{ client.mainid }}">{{ client }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <div class="form-group">
                        <label for="startdate">Start Date</label>
                        <input type="date" class="form-control" id="startdate" name = "startdate">
                    </div>
                    <div class="form-group">
                        <label for="enddate">End Date</label>
                        <input type="date" class="form-control" id="enddate" name = "enddate">
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="card-title">
                    Projects
                </h4>
                <hr>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Client Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Actions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{project.name}}</td>
                            <td>{{project.clientname}}</td>
                            <td>{{project.amount}}</td>
                            <td>
                                <a class="btn btn-outline-primary" href="/view_projects/{{project.mainid}}"><i
                                        class="fa-solid fa-eye"></i></a>
                                <a class="btn btn-outline-success" href="/edit_projects/{{project.mainid}}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-outline-danger" href="/delete_projects/{{project.mainid}}"><i class="fa-solid fa-trash"></i></a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content %}